* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}
ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 13px;
  line-height: 1.3em;
}

.header_title {
  margin: 0 auto;
  width: 960px;
}

.header {
  padding: 50px 0;
  background-color: yellowgreen;
}
.header h1,
.header h2 {
  color: greenyellow;
  text-align: center;
}

.navigation {
  background-color: #222;
  border-color: #fd6;
  min-height: 64px;
}

.navigation_menu li {
  float: left;
  width: 100px;
}

.navigation_menu a {
  display: block;
  color: white;
  line-height: 4em;
  font-weight: bold;
  text-align: center;
}

.navigation_menu li a:hover {
  background-color: black;
  color: #fd6;
}

.form {
  padding: 20px 20px;
  float: right; /* dfdsdfd */
}
.form input[type="text"],
.form input[type="password"] {
  padding: 5px;
  margin-right: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;
}

.form input[type="submit"],
button {
  width: 100px;
  height: 35px;
  border-radius: 5px;
}

.form input[type="submit"]:hover,
button:hover {
  background-color: darkgray;
  color: azure;
}

.main {
}

.main_title {
  padding-bottom: 5px;
  border-bottom: 1px solid #777;
  font-size: 36px;
}

.main_title small {
  color: #777;
  font-size: 70%;
}

.main_collection {
  overflow: auto;
  margin-top: 25px;
  width: 100%;
  text-align: center;
}

.main_collection_outer {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  width: 30%;
  box-sizing: border-box;
}

.main_collection_item {
  border: 1px solid #959595;
  padding-bottom: 10px;
}

.main_collection_item img,
.main_collection_item video {
  width: 100%;
}

.main_collection_item_text h3 {
  text-align: center;
  padding-bottom: 10px;
  color: yellowgreen;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.main_collection_item_text p {
  padding-bottom: 10px;
  max-height: 75px;
  overflow: hidden;
}

.main_collection_item_text button {
  border-radius: 25px;
  outline: none;
  width: 150px;
  height: 35px;
}

.footer {
  background-color: yellowgreen;
  color: beige;
  padding: 20px 0;
  margin-top: 20px;
}

.footer_title {
  text-align: center;
}
