p {
  color: aqua;
  text-align: center;
}

h1 {
  color: bisque;
}

div {
  font-size: 20px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 400px;
  height: 400px;
  background-color: aliceblue;
}
.first_div {
  font-size: 30px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 400px;
  height: 400px;
  background-color:aqua;
  margin-top: 40px;
}

.second {
  width: 600px;
  height: 200px;
  background-color: red;
  margin-top: 50px;
}

.theer {
  width: 100px;
  height: 100px;
  background-color: silver;
}

.four {
  width: 300px;
  height: 400px;
  background-color: blue;
  margin-top: 50px;

}

.five {
  width: 100px;
  height: 250px;
  background-color: silver;
}