@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

/* .roboto-serif-<uniquifier> {
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "GRAD" 0;
} */
* {
  margin: 10px;
  padding: 0;
}
body {
  background-color: bisque;
  color: rgb(7, 227, 235);
  background-image: url("https://img.freepik.com/free-photo/river-surrounded-by-forests-cloudy-sky-thuringia-germany_181624-30863.jpg?w=1060&t=st=1708428673~exp=1708429273~hmac=66fe7a848b546b034625cc3bb83aad98dbddcff6cdadeb167108f5ee13fb6aed");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}
p {
  color: red;
}

p b {
  color: aqua;
}
.main_text {
  color: #fff;
  text-align: center;
  font-size: 26px;
  font-weight: 300;
  font-family: "Roboto Serif", serif;
  text-transform: capitalize;
  line-height: 50px;
}

/* class */
.main_text b {
  color: rgb(77, 77, 99);
}

/* id */
#text17 {
  color: chocolate;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

div b,
div i {
  color: green;
}

.main_link {
  color: blueviolet;
  text-decoration: none;
}

/* Псевдо класс */

.main_link:hover {
  color: aqua;
  text-decoration: underline;
  text-decoration-color: brown;
  cursor: pointer;
}

.main_link:active {
  text-decoration: line-through;
  color: red;
}

/* .main_link:visited {
    color: black;

} */

input {
  color: blue;
  border-radius: 15px 30px;
  height: 200px;
  width: 200px;
  margin: 200px 300px;
  padding: 25px 10px;
}
input:focus {
  color: red;
}

/* Псевдо элемент */

#some_id::after {
  content: "123";
}

.block {
  width: 200px;
  height: 200px;
  background-color: #000;
  margin: 20px;
}

#first {
    float: left;

}

#second {
    float: right;
}