* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #ffe2b0;
}
header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 37px;
}

ul {
  text-align: center;
  list-style-type: none;
}

li {
  display: inline;
  margin-right: 100px;
}

li:last-child {
  margin-right: 0px;
}

a {
  color: black;
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
}

nav {
  margin-bottom: 20px;
}

.section-about {
  height: 640px;
  background-image: url(../img/01-Картинка-фона.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 20px;
}

/* .section-about {
  height: 640px;
  background: url(../img/01-Картинка-фона.jpg) center / cover no-repeat;
} */

.section-about-block {
  width: 400px;
  height: 190px;
  background: linear-gradient(
    180deg,
    rgba(244, 213, 178, 0.8) 0%,
    rgba(234, 156, 65, 0.8) 100%
  );
  position: absolute;
  top: 54%;
  left: 50%;
  padding-top: 15px;
}

.section-about-block__border {
  width: 390px;
  height: 160px;
  border: 1px solid black;
  margin: 0 auto;
  padding-top: 17px;
  padding-left: 28px;
}

.section-about-block__title {
  font-size: 36px;
  margin-bottom: 9px;
}

.section-about-block__text {
  font-size: 12px;
}

.section-discription {
  margin-bottom: 20px;
}

.section-discription__icon {
  text-align: center;
  margin-bottom: 20px;
}

.section-discription__icon img {
  margin-right: 76px;
}

.section-discription__icon img:last-child {
  margin-right: 0px;
}

.section-discription__text_title {
  font-size: 96px;
  text-align: center;
}

.red {
  color: #f15b40;
}

.section-discription__text p {
  font-size: 18px;
  text-align: center;
  width: 1000px;
  margin: 0 auto;
}

.section_map {
  margin-bottom: 25px;
}

.section_map_title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

iframe {
  display: block;
  margin: 0 auto;
}

hr {
  width: 65%;
  margin: 0 auto;
  margin-bottom: 25px;
  border-color: #999999;
}
